/*====================== immportations =======================*/

@import "./settings/colors.css";
@import "./settings/fonts.css";
@import "./settings/generic.css";
@import "./settings/margins.css";
@import "./settings/typography.css";

@import "./detail/detail.css";
@import "./accueil/accueil.css";
@import "./navigation/navigation.css";
@import "./liste/liste.css";

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    padding: 0;
  }



  


  






     
