.dialogue {
    width: 300px;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: var(--color-dark);
  }
  
  .dialogue h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dialogue p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .button-modal{
    background-color:var(--secondary-color);
    border: none;
    border-radius: var(--border-radius-meduim);
    color: var(--color-dark);
    padding: 10px 15px;
    cursor: pointer;
  }

  .button-form{
    border: none;
    background-color:var(--accent-color);
    border-radius: var(--border-radius-meduim);
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .dialogue button:hover {
    background-color: var(--color-white);
  }
  