
  
  

  .liste-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--secondary-color-variation-ligth);
    
  }
  .liste-search{
    border-radius: 20px;
    width: 250px;
    background-image: linear-gradient(to bottom , rgba(186, 57, 57, 0.755), var( --primary-color) );
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
  }

  

  .card {
    min-width: 300px;
    min-height: 500px;
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
  
      /* background-image: linear-gradient(to bottom, rgb(144, 24, 24), rgb(86, 86, 85)); */
    background-image: linear-gradient(to bottom right, rgba(186, 57, 57, 0.755), var( --primary-color) 50%, var( --secondary-color-variation));
    
  }

  .card img {
    width: 100%;
    max-width: 150px;
    object-fit: cover;
    margin-right: 10px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 200px;
    flex-grow: 1;
    margin-right: 10px;
  }

  .card-title {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    margin: 0;
    font-family: var(--font-third);
    
  }

  .card-subtitle, .card-count, .card-rating {
    font-size: var(--font-size-small);
    margin: 0;
    text-align: start;
  }

  .card-subtitle {
    font-style: italic;
    color:var(--color-dark);
  }

  .card-count {
    color: var(--color-dark);
  }

  

  @media only screen and (min-width: 700px) {
    .container {
      justify-content: space-between;
    }
    .card {
      max-width: 300px;
    }
  }
  