

.menu-cellier-container {
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
    height: fit-content;
    background-color: var( --accent-color);
    /* padding-bottom: 5px; */
    padding-top: var(--padding-ex-small);
}
.menu-cellier-container a {
    padding: 8px;
}

.profile-button, .cellier-button, .search-button, .flower-button {
    fill:var(--color-dark);
}

.profile-button:active, 
.cellier-button:active, 
.search-button:active, 
.flower-button:active
{
    transform: scale(0.88);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    border-radius: 40px;
}