
    .site-header{
      display: flex;
      flex-direction: column;
      max-width: 100vw;
      height: fit-content;
      background-color: var( --accent-color);
    }
    .site-header-container{
      display: flex;
      justify-content: space-between;
    }

    .site-header-container>a{
      padding: 6px;
    }

    .header-icon-container{
      display: flex;
    }

    /*================= barre de recherche ======================*/

    .search{
      padding: 10px;
      display: flex;
      border-radius: 10px;
    }

    form.search{
      background-color: var(--primary-color);
      margin: 10px;
    }

    .search-button{
      height: 40px;
      border: none;
    }

    .search>input[type=search]{
      border: none;
      background: transparent;
      margin: 0;
      padding: 7px 8px;
      font-size: 14px;
      color: inherit;
      border: 1px solid transparent;
      border-radius: inherit;
      width: 90%;
    }

    .search>input[type=search]:focus{
      box-shadow: 0 0 3px 0 var(--primary-color-variation);
      border-color: var(--primary-color);
      outline: none;
    }

    button[type="submit"] {
      overflow: hidden;
      width: 40px;
      padding: 0;
      margin: 0;
      border: 1px solid transparent;
      border-radius: inherit;
      cursor: pointer;
      opacity: 0.7;
    }
   
/* =============== toggle-menu ===========*/
  
  label {
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  li>a{
    font-size: 10px;
  }

  #menu {
    overflow: hidden;
    height: 30vh;
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    display: flex;
    flex-direction:column;
    position: absolute;
    background-color: var(--primary-color);
    z-index: 3;
  }
  
  ul#menu{
    margin-left: 50%;
    padding: 0px;
    width: 50%;
    height: fit-content;
    border-radius: 0px 0px 0px 15px;
  }

  #menu-toggle:checked + #menu {
    max-height: 100%;
  }

  #menu li {
    height: 100%;
    padding: 10px;
  }
  
  li.list-item{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
  }


/* =============== fin toggle-menu  ===========*/
        
div.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 10px;
    position: relative;
    background-color: var(--primary-color);
}

.list-icon{
  text-align: center;
  font-size: 30px;
  letter-spacing: 20px;
  display: flex;
  justify-content: space-around;
}

.list-icon>a:hover{
  text-decoration: none;
  text-decoration-line: none;
}

.list-icon > .icon:hover{
  background-color: var(--accent-color);
}

.list-item{
  display: flex;
  margin-left: 1rem;
}
  
.username{
  font-size: small;
  letter-spacing: 5px;
  margin-top: 20px;
  text-transform: lowercase;
}

.logo-header {
  font-weight: 700;
  display: block;
  width: 100%;
  max-width: 100px;
}
