.card {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-large);
    margin-top: var(--margin-small);
    padding: var(--padding-small);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.142);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(249, 244, 204, 0.29);
  }

  .card-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--margin-small);
  }


  .card img {
    width: 100%;
    max-width: 130px;
    object-fit: cover;

  }
  

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    margin-right:  var(--margin-small);
  }

  .card-info-client{
    display: flex;
    /* background-color: pink; */
    justify-content: space-between;

    
  }

  .card-icon-container{
    display: flex;
    justify-content: space-around;
  }

  .card-title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    margin: 0;
    font-family: var(--font-third);
    color: var(--color-dark);
    margin-bottom: var(--margin-small);

  }

  .card-subtitle, .card-count, .card-rating {
    font-size: var(--font-size-x-small);
    margin: 0;
    text-align: start;
    padding: 0;
  }

  .card-subtitle {
    font-style: italic;
    color:var(--color-dark);
    margin-botton: 0px;
  }

  .card-count {
    color: var(--color-dark);
    border: 2px solid black;
    padding: 10px;
    border-radius: var(--border-radius-ex-small);
    padding-left: 10px;
  }

  .card-rating{
    color: var(--color-dark);
  }

  .modal{
    position: absolute;
	  max-width: 70%;
	  opacity: 0;
	  pointer-events: none;
    z-index: 1;

  }

  .card img:hover ~ .modal {
    opacity: 1;
    scale: 1.5;
    transition-duration: 800ms ;
  }
  .card-footer{
    margin-top: var(--margin-ex-small);
    display: flex;
    gap: 20px;
    margin-left: -5px;
    margin-bottom: var(--margin-small);
  }


  .card-btn_supp, .card-btn_add, .card-btn_modif, .card-btn_delete {
    border-radius: var(--border-radius-ex-small);
    box-shadow: 0px 0px 2px var(--color-dark); 
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size:var(--font-size-default) ;
  }

  .card-btn_add{
    background-color: var( --color-white);
    width: 40px;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
  }
  .card-btn_supp{
    background-color: var( --color-white);
    width: 40px;
    font-weight: var(--font-weight-bold);
    color: red;
   
  }

  .card-btn_modif, .card-btn_delete{
    background-color: var(--accent-color);
    /* width: 30%; */
  }

  .card-btn_delete{
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-btn_delete:disabled{
    display: none;
  }

  section.card-cellier{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

  }
  

  /* ======================================== */
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  fieldset label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.25rem;
    position: relative;
  }
  
  fieldset label:before {
    color: #ddd;
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* margin-right: 0.5rem; */
  }
  
  fieldset input[type="radio"] {
    display: none;
  }
  
  fieldset input[type="radio"]:checked + label:before {
    color: gold;
  }
  /* ======================================== */
  .stars-flex {
    display: flex;
    flex-direction: row;
  }

  .stars-btn {
    padding: 2px;
  }
  /* ======================================== */
  .stars-btn {
    cursor: pointer;
    transition: all 1s ease-in-out;
  }

  .stars-btn:active {
    transform: translateY(5px);
    transition: 0.6s;
  }


  @media only screen and (min-width: 700px) {
    
    .card {
      max-width: 550px;
      height: 330px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .card-footer svg{
      width: 15pt;
      height: 15pt;
    }

    .card-title {
      font-size: var(--font-size-regular);
    }

    .card-subtitle, .card-count{
      font-size: var(--font-size-regular);
    }

    .card-stars {
      font-size: 40px;
    }


    .card img {
      max-width: 170px;
    }

    .card-footer{
      gap: 50px;
      margin-left: 0px;
     
    }

    .card-footer  .card-btn_modif, .card-btn_supp, .card-btn_add{
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-bold);
      width: 50px;
    }

    .stars-btn {
      padding: 8px;
    }

    fieldset label {
      font-size: 1.5rem;
    }

  }
